- extends "base.haml"
- block title
  Sell My Car
{% block body_class %}index_page{% endblock %}
- block content
  / Main hero unit for a primary marketing message or call to action
  / .hero-unit
  /   %h1 Hello, world!
  /   %p Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
  /   %p
  /     %a.btn.primary.large Learn more »
  -for car in car_list
    .hero-unit
      .row
        .span4
          .media-grid
            %a{:href => "{{ car.get_update_url }}"}
              %img{:src => "{{ MEDIA_URL }}Brabus S V12 BUSINNES B.jpg", :width => "210px", :height => "139.45px"}
        .span11.car_info
          %a{ :href => "{{ car.get_update_url }}" }
            %h3
              = car.make
              = car.model
            %span.attr_key
              Тип Кузова
            %span.attr_value
              {{ car.body_type }},
            %span.attr_key
              КПП
            %span.attr_value
              {{ car.transmission }},
            %span.attr_key
              Двигатель
            %span.attr_value
              {{ car.engine }} л.,
            %span.attr_key
              Привод
            %span.attr_value
              {{ car.drive }},
            %span.attr_key
              Цена
            %span.attr_value
              $ {{ car.price }}
        .span1.buttons
          %p
            %a.btn.success{ :href => "{{ car.get_post_url }}" } Запостить&nbsp&nbsp
          %p
            %a.btn.primary{ :href => "{{ car.get_absolute_url }}" } Посмотреть

  %footer
    %p © Sell My Car 2011