- extends "base.haml"
{% block body_class %}index_page{% endblock %}
- block content
  / Main hero unit for a primary marketing message or call to action
  / .hero-unit
  /   %h1 Hello, world!
  /   %p Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
  /   %p
  /     %a.btn.primary.large Learn more »
  -for car in car_list
    .hero-unit
      %a{ :href => "{{ car.get_absolute_url }}" }
        .row
          .span4
            .img
          .span12
            %h2
              = car.make
              = car.model
            %span.attr_key
              Тип Кузова
            %span.attr_value
              {{ car.body_type }},
            %span.attr_key
              КПП
            %span.attr_value
              {{ car.transmission }},
            %span.attr_key
              Двигатель
            %span.attr_value
              {{ car.engine }} л.,
            %span.attr_key
              Привод
            %span.attr_value
              {{ car.drive }},
            %span.attr_key
              Цена
            %span.attr_value
              $ {{ car.price }}

  %footer
    %p © Saas Avto 2011