- extends "base.haml"
- block title
  Запостить автомобиль
{% block body_class %}post_car_page{% endblock %}
- block content
  / Main hero unit for a primary marketing message or call to action
  / .hero-unit
  /   %h1 Hello, world!
  /   %p Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
  /   %p
  /     %a.btn.primary.large Learn more »
  .car_form
    %form{ :method => "post" }
      - csrf_token
      - for hidden in form.hidden_fields
        = hidden
      %fieldset
        %legend
          -block form_legend
            Запостить автомобиль
        - for field in form.visible_fields
          .clearfix{ :class => "{% if field.errors %}error{% endif %}" }
            = field.label_tag
            .input
              = field
              %span.help-inline= field.errors.0
          / /clearfix
        .actions
          %input.btn.primary{:type => "submit", :value => "Запостить"} 
          %a.btn{:href => "{% url home %}"} Отмена
    - block extra_content

  %footer
    %p © Saas Avto 2011